extends ../layouts/application.pug

block header
  = task.name

block content
  div.row.mt-5.p-5.shadow.bg-white
    div.col-12.col-md-8.order-2.order-md-1
      div.lead.fw-normal.mb-4= task.description
    div.col-12.col-md-4.border-start.px-3.order-1.order-md-2.mb-3.mb-md-0
      div.mb-2
        each label in task.labels
          span.me-1.badge.text-bg-danger= label.name
      div.d-flex.flex-wrap.mb-3
        span.text-muted.me-2= t('views.tasks.show.creator')
        span= task.creator.name
      div.d-flex.flex-wrap.mb-3
        span.text-muted.me-2= t('views.tasks.show.executor')
        span= _.get(task.executor, 'name', '')
      div.d-flex.flex-wrap.mb-3
        span.text-muted.me-2= t('views.tasks.show.createdAt')
        span= formatDate(task.createdAt)
      div.d-flex.flex-wrap
        a.btn.btn-primary.me-1(href=route('editTask', task.id))= t('views.tasks.show.change')
        +buttonTo(route('destroyTask', task.id), 'delete')(class="btn btn-danger" value=t('views.tasks.show.delete'))
