doctype html
html(lang="ru")
  head
    title Hexlet Fastify Boilerplate
    script(src=assetPath('main.js'))
    link(href=assetPath('main.css') rel="stylesheet")
    meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  body.d-flex.flex-column.min-vh-100
    nav.navbar.navbar-expand-lg.navbar-light.bg-light.mb-3
      .container
        a.navbar-brand(href=route('root'))= 'Менеджер задач'
        button.navbar-toggler(data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent")
          span.navbar-toggler-icon
        .collapse.navbar-collapse(id="navbarToggleExternalContent")
          .container-fluid
            ul.navbar-nav.justify-content-end.w-100
              li.nav-item.me-auto
                a.nav-link(href=route('users'))= 'Пользователи'
              li.nav-item
                a.nav-link(href=route('newSession'))= "Вход"
              li.nav-item
                a.nav-link(href=route('newUser'))= "Регистрация"
